$green-color: #2eca6a;
$blue-color: #00ffe5;
.nav {
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: transparent;
  transition: transform 0.5s ease-in;
  font-family: "Sriracha", "Helvetica", "Arial", cursive;
  font-size: large;

  .header {
    all: inherit;
    &.scrollUp {
      transform: translateY(-80px);
    }
    // width: 100%;
    // display: flex;
    // position: fixed;
    // top: 0;
    // left: 0;
    // z-index: 2;
    // background-color: transparent;
    // transition: all 0.5s ease-in-out;
    // -webkit-backface-visibility: hidden;
    // backface-visibility: hidden;
    #logo {
      margin-right: auto;

      // @media screen and (max-width: 415px) {
      //   width: 90%;
      // }
      // @media screen and (min-width: 415px) and (max-width: 768px) {
      //   width: 80%;
      // }
      // @media screen and (min-width: 992px) {
      //   width: 85%;
      // }
      // @media screen and (min-width: 768px) and (max-width: 992px) {
      //   width: 85%;
      // }
    }
    .loginOption {
      display: flex;
      .option {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px 20px 5px 20px;
        cursor: pointer;
        color: white;

        &:hover {
          color: $blue-color;
        }

        &.hamburger {
          margin-left: auto;
          height: 40px;
          margin-top: 10px;
          margin-right: 20px;
          border: 2px solid white;
          border-radius: 50px;
          @media screen and (max-width: 415px) {
            display: flex;
          }
          @media screen and (min-width: 415px) and (max-width: 768px) {
            display: flex;
          }
          @media screen and (min-width: 992px) {
            display: none;
          }
          @media screen and (min-width: 768px) and (max-width: 992px) {
            display: none;
          }
        }
      }
    }

    .options {
      margin-left: auto;
      display: flex;
      @media screen and (max-width: 415px) {
        display: none;
      }
      @media screen and (min-width: 415px) and (max-width: 768px) {
        display: none;
      }
      @media screen and (min-width: 992px) {
        display: flex;
      }
      @media screen and (min-width: 768px) and (max-width: 992px) {
        display: flex;
      }
      .signup {
        padding: 5px 20px 5px 20px;
      }
      .option {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px 20px 5px 20px;

        cursor: pointer;

        color: white;
        &:hover {
          color: $blue-color;
        }
      }
    }
  }
  .solid {
    box-shadow: 1px 2px 15px rgba(143, 52, 255, 0.6);
  }

  .white-lighter {
    color: #fff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .white-lighter:hover {
    -webkit-transition: 0.4s;
    transition: 0.4s;
    color: white !important;
  }
}
