@import url("https://fonts.googleapis.com/css?family=Concert+One&display=swap");
.love-container {
  background-image: url("https://res.cloudinary.com/next-bananaboom/image/upload/v1582091001/unnamed_gzqwqi.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;

  .love-title {
    // border: 2px solid rgb(245, 218, 83);
    border: 2px solid rgb(245, 218, 83);
    background-color: rgb(245, 218, 83);
    font-size: 30px;
    color: white;
    border-radius: 30px;
    font-family: "Concert One", cursive;
    text-transform: uppercase;
    font-weight: 200;
    .heart-purple {
      fill: white;
      width: 30px;
      &:hover {
        animation: pulse 1s infinite;
        -webkit-animation: pulse 1s infinite;
      }
    }
  }
  .main-love-container {
    margin: 0;
    width: 100%;
    display: flex;
    .scroll-friendly {
      display: none;
    }
    @media screen and (max-width: 415px) {
      flex-direction: column;
      .scroll-friendly {
        display: block;
      }
    }
    @media screen and (min-width: 415px) and (max-width: 768px) {
      flex-direction: column;
      .scroll-friendly {
        display: block;
      }
    }
    @media screen and (min-width: 992px) {
      flex-direction: row;
    }
    @media screen and (min-width: 768px) and (max-width: 992px) {
      flex-direction: column;
      .scroll-friendly {
        display: block;
      }
    }

    .love-left-side {
      height: 100vh;
      padding: 20px;
      max-width: 1100px;
      overflow: scroll;
      .heart-input {
        box-shadow: none;
        border: 2px solid white;
        border-radius: 30px;
        &:focus {
          border: none;
          outline: none;
          border: 2px solid #bb8bfa;
          border-color: #bb8bfa;
          box-shadow: none;
        }
      }
      &::-webkit-scrollbar {
        width: 1em;
        background-color: white;
        border-radius: 30px;
      }

      &::-webkit-scrollbar-track {
        box-shadow: 0 0 3px #384db5;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #cfa5ff;
        border-radius: 30px;
        width: 1.2em;
      }
    }
    .love-right-side {
      height: 100vh;
      padding: 20px;
      overflow: scroll;
     
      .blog-container {
        border-top: 4px solid #b39be4;
        .input-section {
          display:grid;
          grid-template-columns: 10%,10%;
          label {
            margin: 10px;
          }
          .editor-input {
            border-color: transparent;
            border-bottom-color:#DFD0F0;
            background-color: transparent;
            outline:none;
            width: 100%;
            color:purple;
            font-size:20px;
            &:focus{
              border-bottom-color:rgb(158, 91, 235);
            }
          }
          #checkbox {
            transform: scale(2);
            margin-left: 10px;
          }
        }
        &::-webkit-scrollbar {
          width: 1em;
          background-color: white;
          border-radius: 30px;
        }
  
        &::-webkit-scrollbar-track {
          box-shadow: 0 0 3px #384db5;
        }
  
        &::-webkit-scrollbar-thumb {
          background-color: #cfa5ff;
          border-radius: 30px;
          width: 1.2em;
        }
      }
    }
  }
}

@-webkit-keyframes pulse {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
@keyframes pulse {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
