.darkmode-container {
  .toggle {
    
    cursor: pointer;
    transition: all .3s ease;
    padding: 10px;
    &:hover{
        transform: scale(1.2);
    }
    .fa-lg{
        font-size: 25px;
    }
  }
}
