.subscribe-container {
  .brand-name {
    font-family: "Sriracha", cursive;
    font-size: 1.3em;
    text-align: center;
    padding: 10px 10px 10px 10px;
    letter-spacing: 5px;
  }
  .subscribe-footer {
    display: flex;
    justify-content: space-evenly;
    @media screen and (max-width: 800px) {
      flex-direction: column;
    }
  }
  .subscribe-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    @media screen and (max-width: 800px) {
      flex-direction: column-reverse;
    }
    .sayhi {
      @media screen and (max-width: 800px) {
        text-align: center;
      }
    }
    .subscribe-form {
      text-align: center;
      .form-a {
        .subscribe-button {
          position: relative;
          display: inline-block;
          cursor: pointer;
          .subscribe-button-text {
            visibility: hidden;
            width: 50%;
            background-color: #ffff;
            color: rgb(125, 46, 199);
            border: 2px solid rgb(125, 46, 199);
            text-align: center;
            padding: 3px;
            position: absolute;
            z-index: 1;
            bottom: 100%;
            left: 50%;
            transform: translate(-50%);
            opacity: 0;
            transition: opacity 0.3s;
            a {
              color: rgb(125, 46, 199);
            }
            &:after {
              content: "";
              position: absolute;
              top: 100%;
              left: 50%;
              margin-left: -5px;
              border-width: 5px;
              border-style: solid;
              border-color: rgb(125, 46, 199) transparent transparent
                transparent;
            }
          }
          &:hover .subscribe-button-text {
            visibility: visible;
            opacity: 1;
          }
        }
        label {
          position: relative;
        }
        .form-control {
          font-size: 1.1rem;
          font-weight: 300;
          display: inline-block;
          border-color: transparent;
          color: white;
          border-bottom-color:white;
          background-color: transparent;
          outline:none;
          box-shadow: none;
          &:focus {
            border-bottom-color:rgb(158, 91, 235);
            outline: none;
          }
        }
        .form-control.form-control-a {
          height: 3rem;
          width: 90%;
        }
      }
    }
  }
}
