.dropdown {
  img {
    border-radius: 50px;
  }
  &:hover {
    .dropdown-submenu {
      display: block;
    }
  }
  .dropdown-submenu {
    font-weight: 500;
    text-transform: none;
    left: 50%;
    transform: translate(-50%);
    display: none;
    border-radius: 30px;
    border: none;
    position: absolute;
    width: 150px;
    background-color: #fff;
    .dropdown-list{
      list-style: none;
      padding: 0;
      .dropdown-list-item {
        span{
          color: rgb(44, 121, 255);
        }
        &:hover {
          background: rgba(#000, 0.1);
        }
      }
    }
    
  }
}
