.dropdown {
  img {
    border-radius: 50px;
  }
  &:hover {
    .dropdown-submenu {
      display: block;
    }
  }
  .dropdown-submenu {
    font-weight: 500;
    border: 2px solid rgb(110, 93, 126);
    text-transform: none;
    right: 10px;
    display: none;
    position: absolute;
    width: 150px;
    background-color: #fff;
    .dropdown-list{
      list-style: none;
      padding: 0;
      .dropdown-list-item {
        span{
          color: rgb(125, 46, 199);
        }
        &:hover {
          background: rgba(#000, 0.1);
        }
      }
    }
    
  }
}
