.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.countdown-private{
  background-image: linear-gradient(rgba(219, 91, 255, 0.3), rgba(224, 70, 255, 0.3)),
    url("https://storage.pixteller.com/designs/designs-images/2019-03-27/05/love-and-passion-background-backgrounds-romantic-1-5c9b9943567d4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
  position: relative;
  // &::before{
  //   content: "";
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   right: 0;
  //   background-repeat: repeat;
  //   height: 15px;
  //   background-size: 40px 20px;
  //   background-image:
  //     radial-gradient(circle at 20px 0px, white 12px, transparent 13px);
  // }
  
  &::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 15px;
    background-size: 40px 20px;
    background-image:
      radial-gradient(circle at 20px 15px, white 12px, transparent 13px);
  }
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  h1{
    font-weight: 700;

  }
  h2{
    margin: 0 0 5px;
    font-weight: 700;
  }
}



@media (max-width: 500px) {
  h1 {
    font-size: 55px;
  }

  .time {
    margin: 5px;
  }

  .time h2 {
    font-size: 15px;
    margin: 0;
  }

  .time small {
    font-size: 10px;
  }
}
