@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css');


.music-container {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 20px 20px 0 rgba(117, 119, 255, 0.6);
  display: flex;
  padding: 20px 30px;
  position: relative;
  margin: 200px auto;

  z-index: 10;
  max-width: 500px;
}

.img-container {
  position: relative;
  width: 110px;
}



.img-container img {
  border-radius: 50%;
  object-fit: cover;
  height: 110px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 8s linear infinite;

  animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  justify-self: center;
  background-color: transparent;
  
}


.action-btn {
  background-color: transparent;
  border: 0;
  color: #9a999d;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn.action-btn-big {
  color: #7f7fd5;
  font-size: 30px;
}

.action-btn:focus {
  outline: 0;
}

.music-info {
  background-color: rgb(179, 201, 255);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.music-info h4 {
  margin: 0;
  color:white;
}

.progress-container {
  background: rgb(237, 243, 254);
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 8px;
  width: 100%;

}


.progress {
  background-color: #7883da;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
  z-index: 10;
}
.buffer{
  background-color: #bcbcbca5;
  border-radius: 5px;
  width: 0%;
  transition: width 0.1s linear;
  z-index: 1;
}
