.dropdown-mobile-submenu {
  font-weight: 300;
  text-transform: none;
  right: 10px;
  display: none;
  position: absolute;
  width: 100px;
  top:60%;
  border:3px solid rgb(125, 46, 199);
  .dropdown-list {
    padding: 0;
  }
  .navbar-nav{
    .nav-item{
      .nav-link{
        color:'rgb(125, 46, 199)'
      }
    }
  }
}

.dropdown-hide {
  display: block !important;
}
