@import url("https://fonts.googleapis.com/css?family=Concert+One&display=swap");
.love-container {
  background-image: url("https://res.cloudinary.com/next-bananaboom/image/upload/v1582091001/unnamed_gzqwqi.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  font-family: "Sen", "Helvetica", "Arial", sans-serif;
  display: flex;
  justify-content: center;

  .love-title {
    // border: 2px solid rgb(245, 218, 83);
    border: 2px solid rgb(245, 218, 83);
    background-color: rgb(245, 218, 83);
    font-size: 30px;
    color: white;
    border-radius: 30px;
    font-family: "Concert One", "Helvetica", "Arial", cursive;
    text-transform: uppercase;
    font-weight: 200;
    .heart-purple {
      fill: white;
      width: 30px;
      &:hover {
        animation: pulse 1s infinite;
        -webkit-animation: pulse 1s infinite;
      }
    }
  }
  .main-love-container {
    margin: 0;
    width: 100%;
    display: flex;
    .scroll-friendly {
      display: none;
    }
    @media screen and (max-width: 415px) {
      flex-direction: column;
      .scroll-friendly {
        display: block;
      }
    }
    @media screen and (min-width: 415px) and (max-width: 992px) {
      flex-direction: column;
      .scroll-friendly {
        display: block;
      }
    }
    @media screen and (min-width: 993px) {
      flex-direction: row;
    }

    .love-left-side {
      height: 100vh;
      padding: 20px;
      max-width: 55%;
      overflow: auto;
      @media screen and (max-width: 992px) {
        max-width: 2000px;
      }
      &::-webkit-scrollbar {
        background-color: #bb8bfa;
        width: 5px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgb(245, 218, 83);
      }
      .private-post-loader {
        padding: 200px;
        @media screen and (max-width: 992px) {
          padding: 50px;
        }
      }
      .private-post-list{
        overflow-x: auto;
      }

      .heart-input {
        box-shadow: none;
        border: 2px solid white;
        border-radius: 30px;
        &:focus {
          border: none;
          outline: none;
          border: 2px solid #bb8bfa;
          border-color: #bb8bfa;
          box-shadow: none;
        }
      }
    }
    .love-right-side {
      height: 100vh;
      padding: 20px;
      overflow: scroll;
      @media screen and (min-width: 992px) {
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
          display: none;
        }
      }

      .blog-container {
        border-top: 4px solid #b39be4;
        .input-section {
          display: grid;
          grid-template-columns: 10%, 10%;
          label {
            margin: 10px;
          }
          .editor-input {
            border-color: transparent;
            border-bottom-color: #dfd0f0;
            background-color: transparent;
            outline: none;
            width: 100%;
            color: purple;
            font-size: 20px;
            &:focus {
              border-bottom-color: rgb(158, 91, 235);
            }
          }
          .editor-textarea {
            border:2px solid  #dfd0f0;
            background-color: transparent;
            outline: none;
            width: 100%;
            color: purple;
            font-size: 20px;
            &:focus {
              border-color: rgb(158, 91, 235);
            }
          }
          #checkbox {
            transform: scale(2);
            margin-left: 10px;
          }
        }
      }
    }
  }
}

@-webkit-keyframes pulse {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
@keyframes pulse {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
