.heart {
  cursor: pointer;
  height: 70px;
  width: 70px;
  background-image:url( 'https://s3-ap-southeast-1.amazonaws.com/www.yaobaiyang.com/static/web_heart_animation.png');
  background-position: left;
  background-repeat:no-repeat;
  background-size:2900%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heart:hover {
  background-position:right;
 
}
.liked{
  background-position:right;
}
.is_animating {
  animation: heart-burst .8s steps(28) 1;
}

@keyframes heart-burst {
  from {background-position:left;}
  to { background-position:right;}
}


.share-button{
  position: relative;
  display: inline-block;
  cursor: pointer;
.share-button-text {
  visibility: hidden;
  width: 200px;
  background-color:#ffff;
  color: rgb(125, 46, 199);
  border:2px solid rgb(125, 46, 199);
  text-align: center;
  padding: 3px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 90%;
  margin-left: -120px;
  opacity: 0;
  transition: opacity 0.3s;
  &:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(125, 46, 199) transparent transparent transparent;
  }
}
&:hover .share-button-text {
  visibility: visible;
  opacity: 1;
}

}

