$share-button-color:rgb(2, 148, 216);
.heart {
  cursor: pointer;
  height: 70px;
  width: 70px;
  background-image:url( 'https://res.cloudinary.com/next-bananaboom/image/upload/v1581689083/web_heart_animation_oa9kiz.png');
  background-position: left;
  background-repeat:no-repeat;
  background-size:2900%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heart:hover {
  background-position:right;
 
}
.liked{
  background-position:right;
}
.is_animating {
  animation: heart-burst .8s steps(28) 1;
}

@keyframes heart-burst {
  from {background-position:left;}
  to { background-position:right;}
}


.share-button{
  position: relative;
  display: inline-block;
  cursor: pointer;
  .fa-lg{
    &:hover{
      color:$share-button-color;
    }
  }
.share-button-text {
  visibility: hidden;
  width: 200px;
  background-color:#ffff;
  color: $share-button-color;
  border:2px solid $share-button-color;
  text-align: center;
  padding: 3px;
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 50%;
  transform: translate(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  &:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: $share-button-color transparent transparent transparent;
  }
}
&:hover .share-button-text {
  visibility: visible;
  opacity: 1;
}

}

