.jumbo-section {
  font-family: "Sriracha",  "Helvetica", "Arial",cursive;
  position: relative;

  .background-video {
    @media screen and (min-width: 320px) and(max-width:415px) {
      min-width: 100%;
      min-height: 100vh;
    }
    @media screen and (max-width: 330px) {
      min-width: 100%;
      min-height: 100vh;
    }
    @media screen and (min-width: 415px) and (max-width: 768px) {
      min-width: 100%;
      min-height: 100vh;
    }
    @media screen and (min-width: 992px) and (max-width: 1439px) {
      min-width: 100%;
      min-height: 100vh;
    }
    @media screen and (min-width: 1440px) {
      min-width: 100%;
      min-height: 100vh;
    }
    @media screen and (min-width: 768px) and (max-width: 992px) {
      min-width: 100%;
      min-height: 100vh;
    }
  }
  .jumbo-wrapper {
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%);
    .jumbo {
      width: 90vw;
      .card-subtitle {
        @media screen and (min-width: 320px) and(max-width:415px) {
          font-size: 2em;
        }
        @media screen and (max-width: 330px) {
          font-size: 1.5em;
        }
        @media screen and (min-width: 415px) and (max-width: 768px) {
          font-size: 2em;
        }
        @media screen and (min-width: 992px) and (max-width: 1439px) {
          font-size: 2em;
        }
        @media screen and (min-width: 1440px) {
          font-size: 3em;
        }
        @media screen and (min-width: 768px) and (max-width: 992px) {
          font-size: 2.5em;
        }
      }
      .card-title {
        // background: -webkit-linear-gradient(#fc5c7d, #6a82fb);
        // -webkit-background-clip: text;
        // background-clip: text;
        // -webkit-text-fill-color: transparent;
        font-weight: bold;
        @media screen and (min-width: 320px) and(max-width:415px) {
          font-size: 3em;
        }
        @media screen and (max-width: 330px) {
          font-size: 3em;
        }
        @media screen and (min-width: 415px) and (max-width: 768px) {
          font-size: 4em;
        }
        @media screen and (min-width: 992px) and (max-width: 1439px) {
          font-size: 6.5em;
        }
        @media screen and (min-width: 1440px) {
          font-size: 8em;
        }
        @media screen and (min-width: 768px) and (max-width: 992px) {
          font-size: 5em;
        }
      }
      .card-button {
        font-size: 1.2em;
      }
    }

    .mobile {
      background-attachment: scroll;
    }
  }
}
