body {
  &.modal-active {
    overflow: hidden;
  }
}

.login-list {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.signup-container {
  font-family: "Poppins", sans-serif;
  position: fixed;
  width: 40%;
  top: 1%;
  left: 50%;
  transform: scale(0);
  z-index: 5;
  @media screen and (max-width: 415px) {
    width: 90%;
    top: 1%;
    left: 5%;
  }
  @media screen and (min-width: 415px) and (max-width: 768px) {
    width: 80%;
    top: 1%;
    left: 10%;
  }
  @media screen and (min-width: 992px) {
    top: 1%;
    left: 30%;
  }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    width: 80%;
    top: 1%;
    left: 10%;
  }
  &.popup {
    transform: scaleY(0.01) scaleX(0);
    animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    display: block;

    .modal-background {
      .modal-inner {
        transform: scale(0);
        animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
      }
    }
    &.out {
      transform: scale(1);
      display: block;
      animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
      .modal-background {
        .modal-inner {
          animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
        }
      }
    }
  }
}
.login-container {
  font-family: "Poppins", sans-serif;
  position: fixed;
  width: 40%;
  top: 1%;
  left: 50%;
  transform: scale(0);
  z-index: 1;
  @media screen and (max-width: 415px) {
    width: 90%;
    top: 1%;
    left: 5%;
  }
  @media screen and (min-width: 415px) and (max-width: 768px) {
    width: 80%;
    top: 1%;
    left: 10%;
  }
  @media screen and (min-width: 992px) {
    top: 1%;
    left: 30%;
  }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    width: 80%;
    top: 1%;
    left: 10%;
  }
  &.popup {
    transform: scaleY(0.01) scaleX(0);
    animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    .modal-background {
      .modal-inner {
        transform: scale(0);
        animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
      }
    }
    &.out {
      transform: scale(1);
      animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
      .modal-background {
        .modal-inner {
          animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
        }
      }
    }
  }
}

.modal-background {
  background-color: #fff;
  background-size: cover;
  background-position: center;
  .modal-inner {
    cursor: default;
    display: flex;
    position: relative;
    .signup-title{
      display: flex;
      justify-content: space-between;
    }
    .password-show {
      justify-self: flex-end;
      position: absolute;
      left: 90%;
      top: 20%;
    }
    h2 {
      font-size: 25px;
      line-height: 25px;
      margin-bottom: 15px;
    }
    p {
      font-size: 18px;
      line-height: 22px;
    }
  }
}

.shake-message {
  animation: 0.5s shake alternate;
}
@keyframes shake {
  0% {
    transform: skewX(-5deg);
  }
  5% {
    transform: skewX(5deg);
  }
  10% {
    transform: skewX(-5deg);
  }
  15% {
    transform: skewX(5deg);
  }
  20% {
    transform: skewX(0deg);
  }
  100% {
    transform: skewX(0deg);
  }
}

@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(0.005) scaleX(0);
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.form-auth {
  label {
    position: relative;
  }
  select.form-control-lg:not([size]):not([multiple]) {
    height: 3rem;
  }
  .form-control {
    font-size: 1.1rem;
    font-weight: 300;
    border-radius: 50px;
    display: inline-block;
    &:focus {
      border: 2px solid #333;
      border-color: #333;
      box-shadow: none;
      outline: none;
    }
  }
  .form-control.form-control-a {
    height: 3rem;
  }
  .tooltips {
    .tooltiptext {
      visibility: hidden;
      width: 250px;
      background-color: #ffff;
      color: black;
      border:2px solid black;
      text-align: center;
      padding: 5px 0;
      position: absolute;
      z-index: 1;
      bottom: 125%;
     left: 50%;
     transform: translate(-50%);
      opacity: 0;
      transition: opacity 0.3s;

      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
      }
    }
    &:hover {
      .tooltiptext {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
