body {
  font-family: "Poppins", sans-serif;
  font-display:swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #555555;
  margin: 0;
  padding: 0;
  min-height: 100%;
}
* {
  box-sizing: border-box;
  &::-moz-selection {
    background-color: palevioletred;
    color: white;
  }
  &::selection {
    background-color: palevioletred;
    color: white;
  }
  &:focus {
    outline-color: #6a82fb;
  }
}
.linkTag {
  background: -webkit-linear-gradient(#fc5c7d, #6a82fb);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.article {
  font-size: 1.2em;
}
